body {
  background: rgb(184, 184, 184);
}
.container {
  text-align: center;
  margin-top: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 500px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid green;
}
.modal,
.chatbox {
  height: 100%;
  width: 100%;
}
.modal {
  height: 100%;
  width: 100%;
  background: rgb(224, 86, 86);
  z-index: 3;
  display: flex;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
/* .chatbox {

} */
.chatbox .header {
  font-size: 2em;
  background: rgba(23, 23, 184, 0.87);
  height: 10%;
}
.chatbox .chat_body {
  height: 80%;
  background: green;
  overflow-y: auto;
}
.chatbox .text_input_form {
  height: 10%;
}
.chatbox .text_input_form form {
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: flex;
}
.chatbox .text_input_form form input {
  /* height: 100%; */
  color: black;
  width: 80%;
  font-size: 1.4em;
}
.chatbox .text_input_form form button {
  width: 20%;
  height: 100%;
}

.modal {
  background: 'red';
}
